<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <h1>Car detail</h1>
    <hr>
    <p >Il n'y a pas de valeurs dans la collection !</p>
    <ul>
        <li ><b></b><span th:text="${car.getId()}"></span></li>
        <li ><b></b><span th:text="${car.getMarque()}"></span></li>
        <li ><b></b><span th:text="${car.getModel()}"></span></li>
        <li ><b></b><span th:text="${car.getPuissance()}"></span></li>
    </ul>
</main>
</body>
</html>